### Q1

Name the four built-in data structures in python. Give one examples for each

1. List
2. Tuples
3. Sets
4. Dictionaries

### Q2

State two differences between a list and a tuple in Python.

1. A list a mutable a tuple is not
2. A list can be duplicated a tuple cannot

### Q3
Make a list containing names of five animals with a variable name `animal_list`

Write a code for the following:
- Print the first two animals
- Print the last two animals
- Add three extra animals to the variable `animal_list`
- Remove the first two animals from the variable `animal_list`
- How many animals are in the `animal_list`?
- Create a variable animal_set which stores the set of animal_list 
- How many elements are in the animal_set?

In [32]:
animal_list = ["dog", "cat", "sheep", "bird", "goat"]

# printing the first 2 variables
print(animal_list[:2])

# printing the last 2 variables
print(animal_list[-2:])

# adding 3 more variables to the list animal_list
animal_list.append("snake")
animal_list.append("pigeon")
animal_list.append("hen")
#calling the list to see if the additions have been made
print(animal_list)

# deleting variab;es from a list
animal_list.pop(0)
animal_list.pop(0)
print(animal_list)

# checking the list length of animal_list
print(len(animal_list))

#Changing the data type to set
animal_set = set(animal_list)
print(animal_set)

#checking the list length of animal_list
print(len(animal_set))

['dog', 'cat']
['bird', 'goat']
['dog', 'cat', 'sheep', 'bird', 'goat', 'snake', 'pigeon', 'hen']
['sheep', 'bird', 'goat', 'snake', 'pigeon', 'hen']
6
{'sheep', 'goat', 'hen', 'pigeon', 'bird', 'snake'}
6

### Q4

Given a list:

suitcase = ["sunglasses", "hat", "passport", "laptop", "suit", "shoes"]

a. Create a list called first containing only the two first items from suitcase.

b. Create a list called middle containing only the two middle items from suitcase.

c. Create a list called last made up only of the last two items from suitcase.

In [38]:
suitcase = ["sunglasses", "hat", "passport", "laptop", "suit", "shoes"]
print(suitcase)

# creating a new list first and calling values from suitcase
first = suitcase[:2]
print(first)

#creating a new list middle and calling values from suitcase
middle = suitcase[2:4]
print(middle)

#creating a new list last and calling values from suitcase
last = suitcase[-2:]
print(last)

['sunglasses', 'hat', 'passport', 'laptop', 'suit', 'shoes']
['sunglasses', 'hat']
['passport', 'laptop']
['suit', 'shoes']

### Q5
Write a python code to insert 35 into the list below. Make sure it is inserted in the right position to maintain the order of the data.

`values = [20,25,30,40,45,50,55,60,65,70]`

In [41]:
values = [20,25,30,40,45,50,55,60,65,70]

# inserting a new variable 35 into values
values.insert(3, '35')
print(values)

[20, 25, 30, '35', 40, 45, 50, 55, 60, 65, 70]

### Q6

Given that Python lists and Python tuples are quite similar â€“ when might you prefer to use a tuple over a list?

Ans: When you don't want to append or add elements to the data set.

### Q7
Create a dictionary with 5 Ghana regions and their capitals and store it in the variable `region_capital`

- Print out the keys of region_capital
- Print out the values of region_capital

In [52]:
#creating a dict with 5 regions and their capital
egions = {"Volta" : "Ho", "Central" : "Capecoast", "Asanti" : "Kumasi", "Eastern" : "Koforidua", "Northern" : "Tamale"}
Regions.keys()

dict_keys(['Volta', 'Central', 'Asanti', 'Eastern', 'Northern'])

In [53]:
Regions.values()

dict_values(['Ho', 'Capecoast', 'Kumasi', 'Koforidua', 'Tamale'])

### Q8

`values = [3,4,5,6,3,4,3,5,2,4,2,5,6,1,6]`

Using the codes above answer the following questions:
- What is the total number of elements in values?
- What is the highest occuring number in the values variable?
- Convert values into a set and store it into a variable named `values_set`
- How many elements are in the variable values_set?

In [60]:
values = [3,4,5,6,3,4,3,5,2,4,2,5,6,1,6]

#Calling the length of values
print(len(values))

#Changing the list to set
values_set = set(values)
print(values_set)

#Calling the length of values_set
print(len(values_set))

15
{1, 2, 3, 4, 5, 6}
6

### Q9
Write a Python script to print a dictionary where the keys are numbers between 1 and 15 (both included) and the values are the square of the keys.

In [67]:
#creating a dict
Numbers = dict()
for num in range(1,16):
    Numbers[num]=num**2
print(Numbers)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

### Q10
Write a Python program to create a dictionary of keys x, y, and z where each key has as value a list from 11-20, 21-30, and 31-40 respectively. Access the fifth value of each key from the dictionary.

In [69]:
#printing the fifth valuse of each dict

values =['x', 'y', 'z']

x ={}
for var in values:
    if var== 'x':
        x[var] = list(range(1,21))
    elif var == 'y':
        x[var] = list(range(21,31))
    else:
        x[var] = list(range(31,40))
for var in values:
    print(f'{var}: {x[var][4]}')

x: 5
y: 25
z: 35