### Q1
List the basic data types in python and give one example each.

In [ ]:
1. String: "Anita"
2. Interger: Age = 28
3. Float: weeks = 7.5
4. Boolean: True or False

### Q2
Change the variable x = 4539.85 to :

(i) a string and assign it to a new variable y,

(ii) an integer and assign it to a new variable z

Print out the type of y and z.

In [12]:
x = 4539.85
y = str(x)
type(y)

str

In [13]:
z = x
z = int(x)
type(z)

int

### Q3

What data type would you use to store

a. The price of car?
Integer

b. The age of a person
Integer

c. car plate number: plateNumber = "AV01-AFP"?
String 

d. The price of fuel
Float

e. The number of students in the class
Interger

f. The weight of a person
Float

g. Check whether two figures are equal
Boolean

i. The name of a  school
String 

j. The average result of the overall score of a student
Float

k. The total number of vote cast
Interger

### Q4
**Thomas Partey is arguably the best player in the Black Stars. He is a great addition to the team**

Split the statement above into **two statement_1** and **statement_2** such that statement_1 will be 'Thomas Partey is arguably the best player in the Black Stars' and statement_2 will be 'He is a great addition to the team'

Statement:

- **What is the length of statment 1?**
-**What is the length of statment 2?**
-**Is the length of statement 1 greater than statement 2**

In [30]:
statement_1 = ('Thomas Partey is arguably the best player in the Black Stars')

In [31]:
len(statement_1)

60

In [ ]:
# The length of statement_1 is 60

In [32]:
statement_2 = "He is a great addition to the team"

In [33]:
len(statement_2)

34

In [ ]:
# The length pf statement_2 is 34

In [34]:
len(statement_1) > len(statement_2)

True

In [ ]:
### Q5
What values does python use to represent **True** and **False** respectively?

True is 1 

False is 0

### Q6
Write a code to evaluate if the following statments are True or False.

1. 78 is greater than 46 and less than 30 which is an odd number.

2. 8-2 is an even number or 8 is a is an odd number.

3. The number of characters in the word 'boostrap' is 7 and that of 'sample' is 6.

In [35]:
78 > 46 < 30

False

In [132]:
(8 - 2)%2 == 0 or 8%2 == 1

True

In [133]:
len('bootstrap') == 7 and len('sample') == 6

False

### Q7
Given the following python code,

`word='Hello, How are you?'`

Write Python code to return the following

- How
- How are you
- are
- ?
- Hello, How are you

In [91]:
word= 'Hello, How are you?'

In [134]:
word.split()

['Hello,', 'How', 'are', 'you?']

In [102]:
word_1 = ['Hello,', 'How', 'are', 'you?']

In [103]:
word_1[1]

'How'

In [110]:
word[7:]

'How are you?'

In [116]:
word_1[2]

'are'

In [117]:
word[-1]

'?'

In [120]:
word[:18]

'Hello, How are you'

### Q8
Given the following python code,

`sentence = "I am very excited"`

Write Python code to return 
- Convert sentence to upper case
- Convert sentence to lower case
- Convert sentence to title case
- Convert sentence to list of strings

In [64]:
sentence = "I am very excited"

In [65]:
sentence.upper()

'I AM VERY EXCITED'

In [66]:
sentence.lower()

'i am very excited'

In [67]:
sentence.title()

'I Am Very Excited'

In [70]:
sentence.split()

['I', 'am', 'very', 'excited']

### Q9
`word = 'OneThirtyEight'`

Using Python code extract the following from the variable word:
- One
- Thirty
- Eight
- OneThirty
- ThirtyEight
- ONETHIRTYEIGHT

In [75]:
Word = 'OneThirtyEight'

In [78]:
Word[:3]

'One'

In [79]:
Word[3:9]

'Thirty'

In [81]:
Word[9:14]

'Eight'

In [83]:
Word[:9]

'OneThirty'

In [84]:
Word[3:14]

'ThirtyEight'

In [87]:
Word.upper()

'ONETHIRTYEIGHT'

### Q10
Turn Ault'Kelly into a string and assign it to a variable  called name.

In [89]:
str("Ault'Kelly")
name

"Ault'Kelly"